*.rpyc
/game/cache/
/game/saves/
/game/tl/
/game/audio/test/
/game/images/test/
/.vscode/

errors.txt
log.txt
traceback.txt

# trying to get rid of script-test.rpy from the repository but keep it locally 
game/script-test.rpy
